body {
    background-image: url('../img/2151684368.jpg');
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: sans-serif;
}

header {
    width: 100%;
    /* Reduz a largura */
    max-width: 700px;
    /* Define um limite máximo */
    margin: 20px auto;
    /* Centraliza o header */
    text-align: center;
    background-color: #4e9bc4;
    color: white;
    padding: 20px 10px 20px 10px;
    border-radius: 50px;
}

div {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

header .buttons {
    margin-top: 15px;
}

header .buttons button {
    background-color: white;
    color: #146a99;
    border: none;
    padding: 10px 90px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

header img {
    border-radius: 50%;
    border: 4px solid white;
    margin: 15px 0;
    width: 200px;
}

header .buttons button:hover {
    background-color: #e0e0e0;
}



body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

footer {
  background-color: rgba(23, 90, 167, 0.6);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px; /* Espaço entre os ícones */
  margin-bottom: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 26px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #146a99; /* Cor ao passar o mouse */
}

